{% extends 'base.html' %}
{% block extrastyle %}
    body {
        padding:0;
        margin:0;
        background-color: white;
        background-size: contain;
        background-image: url('/static/404_background.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
    }
{% endblock extrastyle %}
{% block title %}Page Not Found{% endblock title %}
{% block header %}Whoopsy Daisy{% endblock header %}
{% block content %}
    <text class="content">
        This page could not be found.
    </text>
{% endblock content %}
