{% extends 'base.html' %}
{% block extrastyle %}
    .collapsible {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    .active, .collapsible:hover {
      background-color: #ccc;
    }

    .collapsible_content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: rgba(255,255,255,1);
    }
{% endblock extrastyle %}
{% block title %}Composting{% endblock title %}
{% block header %}My Composting Work{% endblock header %}
{% block content %}
    <button type="button" class="collapsible" onclick="expand('nyc_smart_compost')">
        <text class="content"><small>+ NYC Smart Compost</small></text>
    </button>
        <div class="collapsible_content" id="nyc_smart_compost">
            <small>
                NYC Smart Compost is a pair of composting pilot programs that leverage public space and technology, located in Lower Manhattan and Astoria, Queens.
                Through these pilots, NYC is testing the utility of "smart bins" for diverting food waste from landfill in high-density neighborhoods.
                <br><br>
                NYC Smart Compost was my vision, and I am glad to share that as of
                December 2021 it is now a reality. My role was to see this project through from an idea to a live implementation.
                Some of my tasks included:
                <ul>
                    <li>Writing a project proposal for review by City Hall</li>
                    <li>Finding vendors willing to bring a new product to market</li>
                    <li>Advocating for and securing a year-1 project budget</li>
                    <li>Writing and releasing an RFP to purchase, install, and maintain 20 smart composting bins</li>
                    <li>Project managing the program's launch</li>
                </ul>
            Program Links:
            <ul>
                <li><a href="https://smartcompost.nyc/" target="_blank">SmartCompost.nyc</a></li>
                <li><a href="https://downtownny.com/compost/" target="_blank">DowntownNY.com/compost</a></li>
            </ul>
            Media Links:
            <ul>
                <li><a href="https://citylimits.org/2021/12/13/more-neighborhoods-and-smart-bins-added-to-nycs-composting-program/" target="_blank">City Limits</a></li>
                <li><a href="https://bushwickdaily.com/news/will-new-smart-compost-bins-expand-to-bushwick/" target="_blank">Bushwick Daily</a> </li>
                <li><a href="http://www.tribecatrib.com/content/high-tech-bins-compostable-waste-first-us-piloted-downtownv" target="_blank">Tribeca Tribune</a></li>
                <li><a href="https://queenspost.com/sanitation-department-installs-more-than-a-dozen-smart-bins-for-food-scraps-in-astoria" target="_blank">Queens Post</a></li>
                <li><a href="https://patch.com/new-york/astoria-long-island-city/compost-bins-line-astorias-31st-avenue-friday-dsny-says" target="_blank">Patch</a></li>
            </ul>
            </small>
        </div>
    <button type="button" class="collapsible" onclick="expand('drop_off_compost')">
        <text class="content"><small>+ Drop-off/Public Space Composting</small></text>
    </button>
        <div class="collapsible_content" id="drop_off_compost">
            <small>
            Drop-off composting in NYC is a set of participatory recycling programs, a social movement, a government-funded initiative,
            and a collection of disparate, distinctly non-governmental activities loosely organized by the activity described by the moniker.
                <br><br>
            For more than two years, I managed drop-off composting services and activities for the NYC Dept. of Sanitation.
            My tasks included:
            <ul>
                <li>Building and managing a public-facing map of drop-off composting activities throughout NYC</li>
                <li>Expanding partnerships with external organizations to increase the number of drop-off composting sites</li>
                <li>Building a program to provide tools and other resources to community groups that voluntarily operate drop-off composting sites</li>
                <li>Managing contracts with external organizations to open and operate drop-off composting sites</li>
                <li>Leading a re-design of the city's drop-off composting informational assets, including content and look/feel</li>
            </ul>

            Program Links:
            <ul>
                <li><a href="https://nyc.gov/dropfoodscraps" target="_blank">nyc.gov/dropfoodscraps</a></li>
            </ul>
            Media Links:
            <ul>
                <li><a href="https://www.metro.us/meet-the-compost-concierge-of-bryant-park/" target="_blank">AM New York/Metro News</a></li>
                <li><a href="https://patch.com/new-york/downtown-nyc/new-guide-details-how-reduce-trash-piles-lower-manhattan" target="_blank">Patch</a></li>
                <li><a href="https://www.ecorichenv.com/news/2018/12/9/the-ecorich-and-new-york-city-housing-authority-zero-waste-in-shared-space-project-is-now-live" target="_blank">EcoRich</a></li>
            </ul>
            </small>
        </div>
    <button type="button" class="collapsible" onclick="expand('apt_bldg_compost')">
        <text class="content"><small>+ NYC Apartment Building Composting</small></text>
    </button>
        <div class="collapsible_content" id="apt_bldg_compost">
            <small>
                Apartment Building Composting is a service that the NYC Dept. of Sanitation launched in 2014,
                to provide a curbside collection of organic material to large residences. I was hired in 2015 to expand this program,
                and managed it for two years, as it grew from 50 building to 2000+ buildings.
                <br><br>
                In 2020, the program was halted due to budgetary issues brought on by COVID-19,
                but was re-launched in 2021 based on the collection efficiency afforded by the program's model.
                I managed all analytics and reporting for the project re-launch.
            <br><br>
            Program Links:
            <ul>
                <li><a href="https://www1.nyc.gov/assets/dsny/site/services/food-scraps-and-yard-waste-page/overview-residents-organics" target="_blank">Curbside Composting Enrollment</a></li>
                <li><a href="https://www1.nyc.gov/assets/dsny/site/services/food-scraps-and-yard-waste-page/bydistrict-curbsidecomposting" target="_blank">Requests for Curbside Composting by Community Board</a></li>
            </ul>
            Media Links:
            <ul>
                <li><a href="https://www.habitatmag.com/Publication-Content/Green-Ideas/2018/2018-June/Harlem-Organics" target="_blank">Habitat Magazine</a></li>
                <li><a href="https://cooperator.com/article/inside-nycs-organic-waste-collection-program" target="_blank">The Cooperator</a></li>
            </ul>
            </small>
        </div>
    <button type="button" class="collapsible" onclick="expand('nyc_compost_project')">
        <text class="content"><small>+ NYC Compost Project</small></text>
    </button>
        <div class="collapsible_content" id="nyc_compost_project">
            <small>
                The NYC Compost Project, created by the NYC Department of Sanitation in 1993,
                works to rebuild NYC’s soils by providing New Yorkers with the knowledge, skills,
                and opportunities they need to produce and use compost locally.
                <br><br>
                I worked for the NYC Compost Project on Staten Island, where I built a drop-off composting program serving the North Shore of the island.
            <br>
            Project Links:
            <ul>
                <li><a href="https://www1.nyc.gov/assets/dsny/site/our-work/reduce-reuse-recycle/community-composting" target="_blank">NYC Community Composting</a></li>
                <li><a href="https://www1.nyc.gov/assets/dsny/site/our-work/reduce-reuse-recycle/community-composting" target="_blank">NYC Compost Project at Snug Harbor</a></li>

            </ul>
            Media Links:
            <ul>
                <li><a href="https://snug-harbor.org/compost/" target="_blank">Staten Island Advance</a></li>
                <br>
            </ul>
            </small>
        </div>
{% endblock content %}
{% block script %}
    function collapse_all() {
        let collapsables = document.getElementsByClassName('collapsible_content');
        for (var i = 0; i < collapsables.length; ++i) {
            let item = collapsables[i];
            item.style.display = "none";
            item.previousElementSibling.classList.remove("active")
        }
    }

    function expand(id) {
        let content = document.getElementById(id);
        let btn = content.previousElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
            btn.classList.toggle("active");
        }
        else {
            collapse_all();
            content.style.display = "block";
            btn.classList.toggle("active");
        }
    }
{% endblock script %}