{% extends 'base.html' %}
{% block title %}Digital Art{% endblock title %}
{% block header %}Digital Art{% endblock header %}
{% block content %}


<iframe src="http://editor.p5js.org/tal-z/full/zyyi91teU"width="100%" height="50%" frameBorder="0" scrolling="no" id="testFrame" style="position:relative;"></iframe>

<iframe src="http://editor.p5js.org/tal-z/full/UyaMH4d0-" width="100%" height="50%" frameBorder="0" scrolling="no" id="testFrame" style="position:relative;"></iframe>


{% endblock content %}
