{% extends 'base.html' %}
{% block extrastyle %}
  @keyframes bg {
      from {background-color: black;}
      to {background-color: white;}
  }

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 290px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: gray;}
  to{border-right-color: transparent;}
}

    p.intro {
        font-family: "Lucida Console", "Courier New", monospace;
        padding:5px 0px 0px 0px;
        margin:0;
        animation: animated-text 1s steps(10,end) .7s 1 normal both,
                   animated-cursor 600ms steps(10,end) 5 forwards;
        overflow: hidden;
        white-space: nowrap;
        border-right: solid 3px gray;

}


    ul.intro {
        font-family: "Lucida Console", "Courier New", monospace;
    }

    a.email_me {
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: 30px;
    }

    text.submit_email {
        font-family: "Lucida Console", "Courier New", monospace;
        z-index: 1;
        color: green;
    }

    form.submit_email {
        padding-left: 10px;
        font-family: "Lucida Console", "Courier New", monospace;
    }


    form input.text {
        width:200px;
        font-family: "Lucida Console", "Courier New", monospace;
    }


    form textarea {
        width:240px;
        font-family: "Lucida Console", "Courier New", monospace;
    }

    .label {
        background-color: rgba(255,255,255,0.95);
        font-family: "Lucida Console", "Courier New", monospace;
    }


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray;
    font-size: 8px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    gray;
    font-size: 8px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    gray;
    font-size: 8px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    gray;
    font-size: 8px;
}
{% endblock extrastyle %}

{% block title %}Home{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
    <div class="intro">
        <text style="padding-left:10px">Hi there! My name is </text>
        <p class="intro">
            <text class="name" style="font-size:50px; color:green">Tal Zaken</text>.
        </p>
        <br>
        <br>
        <br>
        <text style="padding-left:10px">Here's what I'm up to these days:</text>
        <ul class="intro">
            <b>
                <li>I just moved to Boston.</li>
                <li>I am attending the <a href="https://www.recurse.com/" target="_blank">Recurse Center</a>.</li>
                <li>I'm building <a href="/tMinusMbta">T-Minus MBTA</a>.</li>
                <li>I'm writing a <a href="https://github.com/tal-z/ColorController", target="_blank">ColorController</a>,
                    a Python library for finding arbitrary color names and values.
            </b>
    </ul>
        <br>
        <text style="padding-left:10px">I do other things sometimes, too:</text>
            <br>
            <ul class="intro">
            <b>
                <li>I enjoy <a href="/composting">composting</a>.</li>
                <li>I make <a href="/mapping">maps about New York City</a>.</li>
                <li>I explore <a href="/wikipedia">wikipedia</a>.</li>
                <li>I'm curious about <a href="/NLP">natural language processing</a>.</li>
                <li>I also do <a href="/OtherStuff">other stuff</a>.</li>
            </b>
    </ul>
        <br>
        <br>
        <a class="email_me" href="mailto:talzaken@gmail.com">Email me.</a><br><br>
    </div>
{% endblock content %}