{% extends 'base.html' %}
{% block title %}Mapping{% endblock title %}
{% block header %}Maps I've Made{% endblock header %}
{% block content %}
        <text class="content">
            <a href="/mapping/DOEArt" target="_blank">
                Art in DOE Buildings Interactive Map
                <img style="max-width:100%; max-height:100%;" src="static/maps/DOEArtFrame.PNG">
            </a>
        </text>
            <small>
                <br>
                A Leaflet.js map built with Folium, which shows the locations of artwork in DOE buildings.
                Artwork and location data is sourced from <a href="https://opendata.cityofnewyork.us/" style="color:black;">NYC Open Data</a>.
            </small>
            <br>
            <br>
        <text class="content">
            <a href="https://github.com/tal-z/NYCPopulationLocationOptimization/tree/master/V3">NYC Residential Heatmap
                <img style="max-width:100%; max-height:100%;" src="https://raw.githubusercontent.com/tal-z/NYCPopulationLocationOptimization/master/V3/imageFiles/ManhattanIntersectionHeatmap.png">
            </a>
        </text>
            <small><br>A map that shows the density of residential units within a half-mile's walking distance of every intersection in Manhattan. Made possible with the help of Python libraries: OSMNx, NetworkX, iGraph, MatPlotLib, GeoPandas, and SodaPy.</small>
            <br>
            <br>
        <text class="content">
            <a href="https://github.com/tal-z/NYCPopulationLocationOptimization/tree/master/V1">Manhattan Residential Population Service Location Optimizer</a>
                <video width="100%" height="auto" controls="controls">
                    <source src="/static/mp4/ManhattanLocalAnimation_cmpr.mp4" type="video/mp4">
                </video>
        </text>
            <small>Question:  What is the minimum number of sites needed in order to place a site within a half-mile's walking distance of every Manhattan resident? A GitHub repo which houses my scripts that attempt to answer this question, and a video that simulates the end-result.</small>
            <br>
            <br>
        <text class="content">
            <a href="https://github.com/tal-z/NYCOpenDataIsochrones">
                NYC Isochrone Maps
                <img style="max-width:100%; max-height:100%;" src="https://raw.githubusercontent.com/tal-z/NYCOpenDataIsochrones/master/WalkToFSDOs_2021-04-05%2015%3A54%3A12.924849.png">
            </a>
        </text>
            <small><br>A GitHub repo that holds files to produce isochrone (equal walking time) maps of various location-based resources around NYC, using datasets available via NYC Open Data and NYC Dept. of City Planning.</small>
            <br>
            <br>
        <text class="content">
            <a href="https://github.com/tal-z/NYCPotHoles" target="_blank">
                NYC Potholes Map
                <img style="max-width:100%; max-height:100%;" src="https://raw.githubusercontent.com/tal-z/NYCPotHoles/master/NYCPotholeMap.png">
            </a>
        </text>
            <small><br>A GitHub repo that contains a script for generating choropleth maps of average time to repair potholes across NYC.</small>
            <br>
            <br>
{% endblock content %}
