{% extends 'base.html' %}
{% block title %}Other Stuff{% endblock title %}
{% block header %}Watch me do stuff{% endblock header %}
{% block content %}
        Here are some other things I do:
        <b>
        <ul>
            <li>I prepare <a href="/coffee">coffee</a>.</li>
            <li>I made this <a href="https://silken-sugar-duckling.glitch.me/">Comic Book Guy meme generator</a> with my friend <a href="https://github.com/kupad">Phil</a>.</li>
            <li>I cook food.</li>
            <li>I pet dogs.</li>
            <li>I make <a href="/digital_art">digital art</a>.</li>
            <li>I play piano.</li>
            <li>I made this <a href="https://raw.githubusercontent.com/tal-z/QR/master/QR.png">QR code</a> from <a href="https://github.com/tal-z/QR">scratch</a>.</li>
            <li>I also made this <a href="https://bald-obsidian-bearberry.glitch.me/">clock</a>, which displays the current time in <a href="https://en.wikipedia.org/wiki/Decimal_time">decimal time</a>.</li>
        </ul>
        </b>
{% endblock content %}
