{% extends 'base.html' %}
{% block title %}WriterBot{% endblock title %}
{% block header %}WriterBot{% endblock header %}
{% block content %}
        <text class="content">Welcome to WriterBot!</text>
        <br><br>
        <small>This little bot tries to imitate the style of a random author whose work is part of Project Gutenberg. Right now, there is a small selection of works from Project Gutenberg avaialble in the corpus in use.</small>
        <br>
        <br>
        <br>

        <form action="/bot_write/" method="post" id=bot_write>
            <button name="forwardBtn" type="submit">Post a sentence</button>
        </form>
        <br>
        <a class="twitter-timeline" data-dnt="true" data-theme="light" href="https://twitter.com/textanalysis5?ref_src=twsrc%5Etfw">Tweets by textanalysis5</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>     </div>
        <br>
{% endblock content %}
